certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.6.0
identify==2.4.11
idna==3.3
nodeenv==1.6.0
platformdirs==2.5.1
pre-commit==2.17.0
Pygments==2.11.2
PyYAML==6.0
requests==2.27.1
six==1.16.0
toml==0.10.2
urllib3==1.26.8
virtualenv==20.13.3
